/* body {
  margin: 0;
  padding: 0;
  background: #626262;
  font-family: "JF Flat";
} */

.hover {
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 2px #000
}

.container {
  height: 250px;
  width: 400px;
  background: #000;
  overflow: hidden;
  font-family: "JF Flat";
  margin: 50px auto;
  perspective: 50em;
  box-sizing: border-box;
  position: relative;
  transition: all .5s;
  color: #fff;
  /* color: black; */
  border: 1px solid rgba(255, 255, 255, .2);
}

.container img {
  width: 100%;
  transition: all .5s;
  transform-origin: 0 100%;
  height: 100%
}

.text_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 5;
  opacity: 0;
  background: rgb(0,0,75);
  /* background: rgba(255, 0, 0, 0.73); */
  padding: 20px 30px;
  text-align: center;
  transition: .5s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
}

.container:hover img {
  transform: rotateX(100deg);
  opacity: 0
}

.container:hover .text_box {
  transform: rotateX(0deg);
  opacity: 1
}