/* @import "compass/css3"; */
/* @import "compass/css3/animation" */

body {
  border: 20px solid  rgb(0, 0, 75);
  padding: 20px;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  font-family: source sans pro;
}

.list-group li {
  /* border-left-style: 5px solid #bdc3c7; */
  /* padding-left: 5px; */
  margin-bottom: 3px;
}

.search-results {
  /* background-color: green; */
  margin: 20px 10px;
}

.portrait {
  /* float:left; */
  width:200px;
  height:200px;
  /* overflow:hidden;   */
  margin-top: 30px;
  margin-bottom: 20px;
  border: 5px solid black;
  border-radius: 5px;
}

.portrait img {
  width:200px;    
  /* height: 200px;   */
}

.row {
  text-align: center;
}

.row b {
  color: rgb(0, 0, 75);
}

.top {
  display: inline-block;
}

/* .diff-img {
  display: inline-block;
  
} */

/* .search-results h3 {
  color: rgb(0, 0, 75);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  background-color: #bdc3c7;
} */
.search-results h3 {
  /* margin-top: 5%; */
  font-size: 3rem;
  text-align: center;
  margin-top: -50px;
  /* display: inline-block; */
  
}

/* .search-results h3:first-letter {
  color: black;
  font-size: 50px;
} */

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 100px;
  margin-bottom: 65px;
}

.list-item {
  background-color: #bdc3c7;
  margin-bottom: 20px;
}

.list-item:hover {
  background-color: darkgrey;
  transition: color 1s;
}

.search-results .trail-name {
  font-size: 120%;
  line-height: 1.5em;
  height: 3em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */
  margin-bottom: -30px;
  margin-top: 20px;
}

.save-hike {
  background-color: rgb(0, 0, 75);
  color: white;
  padding: 10px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 4px;
}

.wrapper {
  margin-left: -30px;
}

/* hr {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
} */

/* .wrapper{
  width:600px;
}
.itemHolder{
  margin:0;
  padding:0;
}

.itemHolder li{
  float:left;
  margin-bottom:10px;
}

.itemHolder li div{
  width:200px;
} */

/* height: 1200px; your fixed height */
/*3 in those rules is just placeholder -- can be anything*/

.itemHolder {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; 
  margin-top: 20px;
  padding-left: 30px;
}

/*display:inline-block necessary*/
/* .itemHolder li {
  display: inline-block; 
  height: 500px;
  width: 200px;
  padding-left: 0px;
  margin-top: 30px;  
  font-size: 15px; 
} */

/* .list-item {
  margin-bottom: 30px;
} */